PORT=8080
CLIENT_ORIGIN=http://localhost:5173

REDIS_URL=redis://localhost:6379

PGHOST=localhost
PGPORT=55432
PGUSER=quiz
PGPASSWORD=quiz
PGDATABASE=quiz

# Set this to enable /admin/reset (wipe all users & scores)
ADMIN_TOKEN=change-me
